<div class="container-fluid">
<div class="row">
  <div class="search-results col-md-offset-2 col-md-8 margin-top-extra">

  <h1>Bienvenue sur votre tableau de bord</h1>

  <% if user_signed_in? %>
    <p>Les stations de ski auxquelles vous êtes abonné</p>
    <div class="row">
      <% @subscriptions.each do |s| %>
      <div class="col-xs-2">
      <div class="station-bloc col xs-11">
        <%= s.resort.ville %>, <span class='delete_cross' ><%= link_to "x", "/subscriptions/#{s.id}", method: :delete %> </span>
      </div>
      </div>
    <% end %>
    </div>

    <hr>
    <p>Si vous souhaitez vous abonnez à une nouvelle station :</p>

    <%=form_tag({controller: 'users', action: 'dashboard'}, method: :get) do %>
      <%= select_tag(:ville, options_for_select(list_station), multiple: false, class:'select-resort') %>
      <%= submit_tag "s'abonner à cette station", class: "btn btn-primary" %>
    <% end %>

   <% else %>
    Veuillez vous connecter pour accéder à l'outil professionnel :
    <ul>
      <li><%= link_to "Log in", new_user_session_path, :class => 'navbar-link'  %>, si vous avez déjà un compte,
      </li>
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>, pour vous inscrire !
      </li>  
    </ul> 
  <%end%>

</div>
</div>

  <!-- Formulaire pour déterminer le nombre de personnes -->
  <h2>Capacité d'accueil cible</h2>
  <p>Sélectionner le nombre de personnes maximum par appartement</p>
  <%= form_tag({controller: "users", action: "dashboard" }, method: :get) do %>
      <%= select_tag("number_of_guests", options_for_select((1..12).to_a))%> <!-- Changer la façon d'initialiser pour le faire sur quelque chose qui existe -->
      <%= submit_tag 'Valider', class: "btn btn-primary" %>
    <% end %>
  <!-- fin du formulaire pour déterminer le nombre de personnes -->

  <hr>

  <!-- Initialization for calendar -->
  <% month_list = ["décembre", "janvier", "février", "mars", "avril", "mai"] %>
  <% starting_date = Date.new(2017,12,9) %>
  <% frequency = 7 %>

  <!-- End of initialization for calendar -->

  <% unless @subscriptions.nil? || @subscriptions.size == 0 %>

  <h2>Détail par station</h2>

  <% @subscriptions.each do |s| %>

    <% if @number_of_guests %>
      <% number_of_guests = @number_of_guests %>
    <% else %>
      <% number_of_guests = 4 %> <!-- Changer la façon d'initialiser pour le faire sur quelque chose qui existe -->
    <% end%>

<div class="row">
    <div class="search-results col-md-offset-2 col-md-8">
    <% selected_classifieds = @classifieds.where(resort_id:s.resort_id).order('start_date') %>
      <div class="search-results-header">
        <h3><%= s.resort.ville.capitalize %></h3>
        <h4> <%= selected_classifieds.count %> annonces</h4>
      </div>

  <div class="row search-results-nb-guests">
  <div class="col-md-offset-1 col-md-10">
    <h4>Nombre de personnes dans l'appartement : <%= number_of_guests %></h4> <!-- a changer pour avoir un menu déroulant -->
  </div>
  </div>


  <!-- Calendar -->
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div>
        <% 6.times do |j| %>
          <div class="col-md-2 col-calendar">
            <div class="col-xs-12 calendar month">
              <%= month_list[j].capitalize %>
            </div>
            <% 4.times do |i| %>
            <div class="average-price-box col-xs-12 calendar">
              <% current_date = starting_date + (i+j*4)*7 %>
              <div class="date">
                <div class="mini-date start-date">
                  <p>Sa</p>
                  <p><span class="bold"><%= "#{current_date.mday}" %></span></p>
                </div>
                <div class="mini-date end-date">
                  <p>Sa</p>
                  <p><span class="bold"><%= "#{(current_date+7).mday}" %></span></p>
                </div>
              </div>
              <div class="price">
                <% if @averages[[s.resort.ville,start_date=current_date,number_of_guests.to_i]] != nil %>
                  <%= (@averages[[s.resort.ville,start_date=current_date,number_of_guests.to_i]]*(frequency)).round %>
                 €
                <p>7 jours</p>
              <% else %>
                -
              <% end %>
            </div>
          </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- end of calendar -->

<!-- The table of data -->

<div class="row">
<div class="col-md-offset-1 col-md-10">
<h3>Table détaillée des résultats</h3>
  <table class="classifieds-table table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Semaine</th>
        <th>Prix</th>
        <th>Nom de l'annonce</th>
        <th>Code annonce</th>
      </tr>
    </thead>
    <tbody>
    <% selected_classifieds.each do |sc| %>
      <tr>
        <td><%= sc.start_date.mday%>-<%= sc.start_date.mon%>-<%=sc.start_date.year %></td>
        <td><%= (sc.price*7).round %>€</td>
        <td><a href="http://www.abritel.fr<%=sc.link%>"><%= sc.title %></a></td>
        <td><%= sc.abritel_classified_id%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>

  <!-- End of the table of data -->


</div>
</div>

  

    <hr>
  <%end%>

  <% end %>



    

</div>


<script type="text/javascript">
    // $('select-resort').select2();
    $(document).ready(function() { $('#ville').select2(); });
</script>