<h1>Veille concurrentielle</h1>

<% if user_signed_in? %>
  <p>Les stations de ski auxquelles vous êtes abonné</p>
  <div class="row">
    <% @subscriptions.each do |s| %>
    <div class="col-xs-2">
    <div class="station-bloc col xs-11">
      <%= s.resort.ville %>, <span class='delete_cross' ><%= link_to "x", "/subscriptions/#{s.id}", method: :delete %> </span>
    </div>
    </div>
  <% end %>
</div>
<hr>
<h2>Détail par station</h2>
<% number_of_guests = 4 %>
<% @subscriptions.each do |s| %>
  <h3><%= s.resort.ville.capitalize %></h3>
  
  <hr>
<%end%>



  <p>Si vous souhaitez vous abonnez à une nouvelle station :</p>

  <%=form_tag({controller: 'users', action: 'dashboard'}, method: :get) do %>
    <%= select_tag(:ville, options_for_select(Resort.group('ville').pluck('ville')), multiple: false, class:'select-resort') %>
    <%= submit_tag "s'abonner à cette station", class: "btn btn-primary" %>
  <% end %>



 











 <% else %>
  Veuillez vous connecter pour accéder à l'outil professionnel :
  <ul>
    <li><%= link_to "Log in", new_user_session_path, :class => 'navbar-link'  %>, si vous avez déjà un compte,
    </li>
    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>, pour vous inscrire !
    </li>  
  </ul> 
<%end%>


<script type="text/javascript">
    // $('select-resort').select2();
    $(document).ready(function() { $('#ville').select2(); });
</script>