<h1>Veille concurrentielle</h1>

<% if user_signed_in? %>
  <p>Les stations de ski auxquelles vous êtes abonné</p>
  <div class="row">
    <% @subscriptions.each do |s| %>
    <div class="col-xs-2">
    <div class="station-bloc col xs-11">
      <%= s.resort.ville %>, <span class='delete_cross' ><%= link_to "x", "/subscriptions/#{s.id}", method: :delete %> </span>
    </div>
    </div>
  <% end %>
</div>

<!-- Formulaire pour déterminer le nombre de personnes -->
<h2>Capacité d'accueil cible</h2>
<p>Sélectionner le nombre de personnes maximum par appartement</p>
<%= form_tag({controller: "users", action: "dashboard" }, method: :get) do %>
    <%= select_tag("number_of_guests", options_for_select((1..12).to_a))%> <!-- Changer la façon d'initialiser pour le faire sur quelque chose qui existe -->
    <%= submit_tag 'Valider', class: "btn btn-primary" %>
  <% end %>
<!-- fin du formulaire pour déterminer le nombre de personnes -->

<hr>

<!-- Initialization for calendar -->
<% month_list = ["décembre", "janvier", "février", "mars", "avril", "mai"] %>
<% starting_date = Date.new(2017,12,9) %>
<% frequency = 7 %>

<!-- End of initialization for calendar -->

<h2>Détail par station</h2>

<% @subscriptions.each do |s| %>

  <% if @number_of_guests %>
    <% number_of_guests = @number_of_guests %>
  <% else %>
    <% number_of_guests = 4 %> <!-- Changer la façon d'initialiser pour le faire sur quelque chose qui existe -->
  <% end%>

  <h3><%= s.resort.ville.capitalize %></h3>
  <h4>Capacité d'accueil : <%= number_of_guests %></h4>

<!-- Calendar -->

<div class="container">
  <% 6.times do |j| %>
    <div class="col-md-2">
      <div class="average-price-box col-xs-12 calendar month">
        <%= month_list[j].capitalize %>
      </div>
      <% 4.times do |i| %>
      <div class="average-price-box col-xs-12 calendar">
        <% current_date = starting_date + (i+j*4)*7 %>
        <div class="date">
          <%= "#{current_date.mday}-#{(current_date+7).mday}" %>
        </div>
        <div class="price">
          <% if @averages[[s.resort.ville,start_date=current_date,number_of_guests.to_i]] != nil %>
            <%= (@averages[[s.resort.ville,start_date=current_date,number_of_guests.to_i]]*(frequency)).round %>
            €
          <% else %>
            -
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

<!-- end of calendar -->

  <hr>
<%end%>



  <p>Si vous souhaitez vous abonnez à une nouvelle station :</p>

  <%=form_tag({controller: 'users', action: 'dashboard'}, method: :get) do %>
    <%= select_tag(:ville, options_for_select(list_station), multiple: false, class:'select-resort') %>
    <%= submit_tag "s'abonner à cette station", class: "btn btn-primary" %>
  <% end %>



 











 <% else %>
  Veuillez vous connecter pour accéder à l'outil professionnel :
  <ul>
    <li><%= link_to "Log in", new_user_session_path, :class => 'navbar-link'  %>, si vous avez déjà un compte,
    </li>
    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>, pour vous inscrire !
    </li>  
  </ul> 
<%end%>


<script type="text/javascript">
    // $('select-resort').select2();
    $(document).ready(function() { $('#ville').select2(); });
</script>