<div class="container-fluid" id="list-of-resorts">
<div class="row">
  <div class="search-results col-md-offset-2 col-md-8 margin-top-extra">
  <br>
  <h1><b>Bienvenue sur votre tableau de bord !</b></h1>
  <br>

  <% if @subscriptions == nil || @subscriptions.count == 0 %>
    <div class="row not-subscribed"><p>Ajoutez une station avec le champ de recherche ci-dessous.</p></div>
  <% end %>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <% @subscriptions.each do |s| %>
        <div class="col-md-3">        
            <div class="station-bloc col xs-11">
              <div class='col-md-offset-10'>
                <%= link_to "/subscriptions/#{s.id}", method: :delete do %>
                  <i class='fa fa-times'></i>
                <% end %>
              </div>
                <%= link_to dashboard_path(anchor: s.resort.ville) do %>
                  <h2> <%= titleize(s.resort.ville)%> </h2>
                <% end %>

              <div>
                <%= @classifieds_hash[Resort.find(s.resort_id).ville].count %> annonces
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <hr>
    </div>
  </div> 

  <div class="row">
    <h1>Ajouter une nouvelle station :</h1>
    
    <div class="form-group station-search">
      <%=form_tag({controller: 'users', action: 'dashboard'}, method: :get) do %>
        <%= select_tag(:ville, options_for_select(list_station), multiple: false, class:'select-resort') %>
        <%= submit_tag "OK", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
</div>



  <!-- Initialization for calendar -->
  <% month_list = ["décembre", "janvier", "février", "mars", "avril", "mai"] %>
  <% starting_date = Date.new(2017,12,9) %>
  <% frequency = 7 %>

  <!-- End of initialization for calendar -->

  <% unless @subscriptions.nil? || @subscriptions.size == 0 %>

  <% @subscriptions.each do |s| %>

    <% if @number_of_guests %>
      <% number_of_guests = @number_of_guests %>
    <% else %>
      <% number_of_guests = 4 %> <!-- Changer la façon d'initialiser pour le faire sur quelque chose qui existe -->
    <% end%>

<div class="row" id="<%=s.resort.ville_url%>">
    <div class="search-results-dashboard col-md-offset-2 col-md-8">
    <% selected_classifieds = @classifieds_hash[Resort.find(s.resort_id).ville] %>
      <div class="search-results-header">
        <h3><%= titleize(s.resort.ville) %></h3>
        <h4><%= selected_classifieds.count %> annonces</h4>
      </div>
  
  <!-- Afficher le nombre de guests dans un formulaire -->
   <!-- To be prompted for number_of_guests -->
      <% list_of_number_of_guests2 = selected_classifieds.group('number_of_guests').pluck('number_of_guests') %>
      <% list_of_number_of_guests2 = list_of_number_of_guests2.sort %>
      <!-- End of to be prompted for number_of_guests -->

      <div class="row search-results-nb-guests">
        <div class="col-md-offset-1 col-md-10">
          <div class="form-group">
            <%= form_tag({controller: "users", action: "dashboard"}, method: :get) do %>
              <%= label_tag(:number_of_guests, "Nombre de personnes dans l'appartement :") %>
              <%= select_tag(:number_of_guests, options_for_select(list_of_number_of_guests2), prompt:number_of_guests)%>
              <%= submit_tag 'OK', class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

  <!-- Fin de afficher le nombre de guests dans un formulaire -->

  <!-- Calendar -->
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div>
        <% 6.times do |j| %>
          <div class="col-md-2 col-calendar">
            <div class="col-xs-12 calendar month">
              <%= month_list[j].capitalize %>
            </div>
            <% 4.times do |i| %>
            <div class="average-price-box col-xs-12 calendar">
              <% current_date = starting_date + (i+j*4)*7 %>
              <div class="date">
                <div class="mini-date start-date">
                  <p>Sa</p>
                  <p><span class="bold"><%= "#{current_date.mday}" %></span></p>
                </div>
                <div class="mini-date end-date">
                  <p>Sa</p>
                  <p><span class="bold"><%= "#{(current_date+7).mday}" %></span></p>
                </div>
              </div>
              <div class="price">
                <% if @averages[[s.resort.ville,start_date=current_date,number_of_guests.to_i]] != nil %>
                  <%= (@averages[[s.resort.ville,start_date=current_date,number_of_guests.to_i]]*(frequency)).round %>
                 €
                <p>7 jours</p>
              <% else %>
                -
              <% end %>
            </div>
          </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- end of calendar -->

<!-- The table of data -->

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <br>
    <hr>
    <h3>Liste des annonces</h3>
    <table class="classifieds-table table table-striped table-bordered" cellspacing="0" width="100%">
      <tfoot>
        <tr>
          <th>Semaine</th>
          <th><i class="fa fa-user" aria-hidden="true"></i></th>
          <!-- <th>Prix</th>
          <th>Nom de l'annonce</th> -->
          <!-- <th>Code annonce</th> -->
        </tr>
      </tfoot>  
      <thead>
        <tr>
          <th>Semaine</th>
          <th><i class="fa fa-user" aria-hidden="true"></i></th>
          <th>Prix</th>
          <th>Nom de l'annonce</th>
          <!-- <th>Code annonce</th> -->
        </tr>
      </thead>
      <tbody>
      <% selected_classifieds.each do |sc| %>
        <tr>
          <td><%= sc.start_date.mday%>/<%= sc.start_date.mon%>/<%=sc.start_date.year %></td>
          <td><%= sc.number_of_guests %></td>
          <td><%= (sc.price*7).round %>€</td>
          <td><a target="_blank" href="http://www.abritel.fr<%=sc.link%>"><%= sc.title %></a></td>
          <!-- <td><%= sc.abritel_classified_id%></td> -->
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End of the table of data -->

</div>

<div class="col-md-offset-4 col-md-4">
  <a id="scroll-top" class="scroll-top dynamic-btn" href="#top">
    Revenir au tableau de bord
    <i class="fa fa-chevron-circle-up" aria-hidden=true></i>
  </a>    
</div>

</div>

  

  <%end%>

  <% end %>



    

</div>