  <p>Nombre d'annonces dans notre base de donnée : <%= @classifieds.count%></p>

  <h1>Vous louez votre bien à la montage?</h1>
  <h2>Visualisez les prix de tous vos concurrents sur la saison </h2>

  <div class="form-group">
    <%=form_tag({controller: "classifieds", action: "search"}, method: :get ) do %>
      <%= label_tag(:ville, "Station de ski") %>
      <%= select_tag(:ville, options_for_select(list_station), multiple: false, class:'select-resort', prompt: "Indiquez votre station") %>
      <%= submit_tag 'valider', class: "btn btn-primary" %> 
      <%end%>
  </div>
  <div class="form-group">
    <%=form_tag({controller: "classifieds", action: "search"}, method: :get) do %>
      <%= label_tag(:number_of_guests, "Nombre de place dans l'appartement") %>
      <%= select_tag(:number_of_guests, options_for_select((1..12).to_a))%>
      <%= submit_tag 'valider', class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <h2><%= @search.ville %></h2>
  <h3><%= @search.number_of_guests %> </h3>

<hr>

  <% unless @results.nil? || @results.size == 0 %>

  <%= render 'calendar' %>

  <% end %>

  <script type="text/javascript">
    // $('select-resort').select2();
    $(document).ready(function() { $('#ville').select2(); });
    // $("#select1").on('click', function(){ 
    //   alert(ville);
    //   return false;
    // });
    // $('#select1').on('click', function(){
    //   $('.number_of_guests').toggle();
    // });
  </script>