<div class="container-fluid">

<% unless @search.ville.nil? %>
  <div class="row">
    <div class="search-results col-md-offset-2 col-md-8">
    
      <div class="search-results-header">
        <h3><%= @search.ville.capitalize %></h3>
        <h4><%= @results.count %> annonces</h4>
      </div>

      <!-- To be prompted for number_of_guests -->
      <% if @search.number_of_guests == nil %>
        <% number_prompted = "❄︎" %>
      <% else %>
        <% number_prompted = @search.number_of_guests %>
      <% end %>
      <!-- End of to be prompted for number_of_guests -->

      <div class="row search-results-nb-guests">
        <div class="col-md-offset-1 col-md-10">
          <div class="form-group">
            <%= form_tag({controller: "classifieds", action: "search"}, method: :get) do %>
              <%= label_tag(:number_of_guests, "Nombre de personnes dans l'appartement :") %>
              <%= select_tag(:number_of_guests, options_for_select(list_of_number_of_guests),prompt: number_prompted)%>
              <%= submit_tag 'OK', class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <% unless @results.nil? || @results.size == 0 %>
        <div class="col-md-offset-1 col-md-10">
          <%= render 'calendar' %>
        </div>
       <% end %>
     </div>
    </div>
  </div>
<% end %>


</div>