<!DOCTYPE html>
<html>
	<head>
		<title>Tignes Scrapping</title>

	    <%= csrf_meta_tags %>
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<!-- Favicon taken from http://findicons.com/icon/137359/snowflake# -->
	    <%= favicon_link_tag 'favicon.ico' %>

	    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
	    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	    
	</head>

	<body>
		<%= render 'layouts/header' %>

		<div id="wrap">
			<div id="main" class="clear-top">
				<% if notice %>
				<p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
				<p class="alert alert-danger"><%= alert %></p>
				<% end %>

				<div class="container">
					<%= yield %>
				</div>
			</div>
		</div>
		
		<%= render 'layouts/footer' %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  	
		<!-- Cookie consent plugin from Insight -->
		<script>
		    window.addEventListener("load", function(){
		    window.cookieconsent.initialise({
		      "palette": {
		        "popup": {
		          "background": "#edeff5",
		          "text": "#838391"
		        },
		        "button": {
		          "background": "#4b81e8"
		        }
		      },
		      "theme": "classic"
		    })});
		</script>
		<!-- End of cookie consent plugin -->

	</body>

</html>
