<!DOCTYPE html>
<html>
	<head>
		<title>Algoski - Le comparateur des locations au ski</title>
  
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>

	    <%= favicon_link_tag 'logo.png' %>
	    
	</head>

	<body>
		<%= render 'layouts/header' %>

		
			<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
			<% end %>

			<%= yield %>
			<%= render 'layouts/footer' %>
		
		
		
		<%= render 'cookies_eu/consent_banner' %>
  	
	</body>

</html>
