<!DOCTYPE html>
<html>
	<head>
		<title>Algoski</title>

	    <%= csrf_meta_tags %>
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<!-- Favicon taken from http://findicons.com/icon/137359/snowflake# -->
	    <%= favicon_link_tag 'favicon.ico' %>
	    
	</head>

	<body>
		<%= render 'layouts/header' %>

		<!-- <div id="main"> -->
			<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
			<% end %>

			<%= yield %>
		<!-- </div> -->
		
		<%= render 'layouts/footer' %>
		<%= render 'cookies_eu/consent_banner' %>
  	
	</body>

</html>
